{% extends "base.html" %}
{% block content %}

  <div Class="block"></div>

  <h1>Okinawa City's</h1>

  <div Class="nav">
    <a href = "/create" role="button">new post</a>
    <a href = "/logout" role="button">logout</a>
  </div>

  <div Class="another_page">
    
    <a href="https://www.city.okinawa.okinawa.jp/">沖縄市HP</a>
    <a href="https://www.kozaweb.jp/">コザ情報サイト</a>
    <a href="https://kozanavi.jimdo.com/">コザナビ</a>
  
  </div>
  
  {% for post in posts %}
  <article>
    <h2>{{post.title}}</h2>
    <!-- post.idをupdateするためのボタンの作成 -->
    <a href="/{{post.id}}/update" role="button">update</a>
    <a href="/{{post.id}}/delete" role="button">delete</a>
    <p>作成日時：{{post.created_at}}</p>
    <p>{{post.body}}</p>
  </article>
  {% endfor %}
{% endblock %}